@import "tailwindcss";

@theme {
  --color-gray-500: #9AA7BE;
  --color-teal-500: #2AB3B1;
  --color-teal-400: #4ABFBD;
  --color-teal-100: #E6EFF5;

  --color-green-400: #C0DF33;

  --font-karla: "Karla", sans-serif;
  --text-base: 16px;
  --leading-base: 165%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Karla", sans-serif;
}